@page
@model StammModel
@{
    ViewData["Title"] = "Stamm";
}

<div class="Banner">
    <span class="BannerTextCompany">nulllogicone.net</span> <span class="BannerTextApplication">Nachrichtenvermittlung im Semantic Web</span>
</div>
<h1>Stamm</h1>
<p>
    Diese Seite stellt die Entität <strong>Stamm</strong> dar. Hier können Informationen zu einem bestimmten Stamm angezeigt werden.
</p>
<p>
    Beispiel-URIref:
    <br />
    <a href="/Stamm/?b4111e0e-48d9-42c4-a6f6-ec4991264947">https://nulllogicone.net/Stamm/?b4111e0e-48d9-42c4-a6f6-ec4991264947</a>
</p>
<footer>
    <div class="footer">
        <p>&copy; nulllogicone.net</p>
    </div>
</footer>
