
@page
@model IndexModel
@{
    ViewData["Title"] = "nulllogicone.net";
}

<!DOCTYPE html>
<html>
<head>
    <title>nulllogicone.net</title>
    <link href="/nulllogicone.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="Banner">
        <span class="BannerTextCompany">nulllogicone.net</span> <span class="BannerTextApplication">Nachrichtenvermittlung im Semantic Web</span>
    </div>
    <h1>|nulllogicone.net|</h1>
    <h2>Abstract</h2>
    <p>
        Für die Vermittlung von Nachrichten zwischen Unbekannten ist <strong>nulllogicone.net</strong>&nbsp;ein
        abstraktes System, das Urheber, Nachrichten und Empfänger beschreibt.&nbsp;Es besteht
        aus einem <em>Kreislauf Modell</em>&nbsp;[<a href="images/SAPCT.jpg">SAPCT</a>],
        dem <em>Wortraum</em> [<a href="images/NKBZ.JPG">NKBZ</a> ] und einer V<em>ermittlungslogik</em>
        [OgIf].
        <br />
        Eine Webanwendung gegen einen zentralen Datenbankserver ist als <a href="https://www.oli-it.com">Referenzimplementierung</a>&nbsp;realisiert.
    </p>
    <p>
        Auf dieser Seite geht es um die Erweiterung durch Webservices und offene RDF Schnittstellen,&nbsp;die
        Dezentralisierung ermöglichen.
    </p>
    <h2>Table of Contents</h2>
    <ol>
        <li><a href="#Instances">Instanzen</a></li>
        <li><a href="#schema">Schema</a></li>
        <li><a href="#RDF">Dokumente</a></li>
        <li><a href="#importexport">Input / Output</a></li>
        <li><a href="#Applications">Anwendungen</a></li>
        <li><a href="#webservice">Service</a></li>
        <li><a href="#tools">Client</a></li>
    </ol>
    <h2 id="instances">1. Instanzen</h2>
    <p>
        Alle Entitäten [SAPCT][NKBZ][OgIf]&nbsp;sind Datensätze,&nbsp;die auf einer eigenen
        Seite dargestellt werden können&nbsp;(für <a href="Instanzen.aspx">Beispiele</a>
        gibt es eine Seite mit zufälligen Links).
    </p>
    <p>
        In den Datenbanktabellen sind die Schlüsselfelder GUIDs.&nbsp;Diese werden in URIrefs
        und URLs verwendet. Eine URIref&nbsp;in einem RDF Statement setzt sich aus dem Basisnamespace
        (<a href="https://nulllogicone.net/">https://nulllogicone.net/</a>) gefolgt von dem
        ausgeschriebenen Klassennamen aus [SAPCT][NKBZ]&nbsp;mit angehängtem&nbsp;<strong>/?</strong>und
        der GUID ohne Dateiendung zusammen. Diese können als URLs weitere Informationen
        auf&nbsp;einer Webseite&nbsp;anzeigen.
    </p>
    <div class="beispiel">
        Beispiel: verschiedene URIref als Hyperlink
    </div>
    <p>
        <a href="/Stamm/?b4111e0e-48d9-42c4-a6f6-ec4991264947">https://nulllogicone.net/Stamm/?b4111e0e-48d9-42c4-a6f6-ec4991264947</a>
        <br>
        <a href="/Angler/?be279cca-b934-45e6-85fd-96b1a6b1e6ed">https://nulllogicone.net/Angler/?be279cca-b934-45e6-85fd-96b1a6b1e6ed</a>
        <br>
        <a href="/PostIt/?176bae4e-05d7-4256-97a5-c98bfcbb2869">https://nulllogicone.net/PostIt/?176bae4e-05d7-4256-97a5-c98bfcbb2869</a>
        <br>
        <a href="/Netz/?76035f19-f4ae-4d58-a388-4bbc72c51cef">https://nulllogicone.net/Netz/?76035f19-f4ae-4d58-a388-4bbc72c51cef</a>
    </p>
    <h2 id="schema">2. Schema</h2>
    <p>
        Für den&nbsp; <em>Austausch</em> von Daten bei <strong>nulllogicone.net</strong>
        im RDF Format, kann man die <a href="https://nulllogicone.net/schema.rdfs">schema.rdfs</a>&nbsp;Datei
        downloaden.<br>
        Auf der <a href="http://www.dfki.uni-kl.de/frodo/RDFSViz/">FRODO RDFSViz Tool</a>
        &nbsp;Seite, lassen sich die Beziehungen visualisieren.&nbsp;Als URL für das Schema
        muss man den vollständigen Pfad <a href="https://nulllogicone.net/schema.rdfs">https://nulllogicone.net/schema.rdfs</a>
        angeben.
    </p>
    <p>
        Für die <em>Speicherung</em> in lokalen Datenbanken oder XML Dateien&nbsp;stehen
        <a href="schemata/default.aspx">XSD Dokumente</a> als Schema Definitionen für die
        Entitäten mit ihren Feldern und die Definition der Tabellenstruktur mit ihren relationalen
        Beziehungen zur Verfügung. Wenn sie gegen Webservices verwendet werden, so sind
        in den wsdl Datein die Typen verbindlich definiert.
    </p>
    <p>
        Für das Einrichten einer relationalen Tabellenstruktur gibt es <a href="SQL/default.aspx">SQL-Scripte</a> welche sich auf jeden beliebigen Anwendungsfall maßschneidern
        lassen.
    </p>
    <h2 id="rdf">3. Dokumente</h2>
    <p align="left">
        <strong>nulllogicone.net</strong> vermittelt Nachrichten zwischen Unbekannten. Für
        den <em>Austausch</em>&nbsp;von Daten wird das RDF Format verwendet, um Dezentralisierung
        und Verteilbarkeit zu ermöglichen.
    </p>
    <p align="left">
        RDF&nbsp;basiert auf XML und beschreibt&nbsp;beliebige Ressourcen mit einfachen
        Sätzen aus Subjekt, Prädikat und Objekt.
    </p>
    <div class="beispiel">
        Beispiel: Ein gekürztes RDF Dokument
    </div>
    <pre>&lt;?xml version="1.0" encoding= "utf-8"?&gt; 
&lt;rdf:RDF
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:nlo="https://nulllogicone.net/schema.rdfs#" 
  xml:base="https://nulllogicone.net/"&gt;
   &lt;nlo:Stamm rdf:about="https://nulllogicone.net/Stamm/?b4111e0e-48d9-42c4-a6f6-ec4991264947"&gt;
     &lt;nlo:name&gt;Oli&lt;/nlo:name&gt;
   &lt;/nlo:Stamm&gt;
&lt;/rdf:RDF&gt;
</pre>
    <div class="beispiel">
        Beispiel: Links auf&nbsp;vollständige RDF Dokumente
    </div>
    <p>
        <a href="/Stamm/b4111e0e-48d9-42c4-a6f6-ec4991264947.rdf">https://nulllogicone.net/Stamm/b4111e0e-48d9-42c4-a6f6-ec4991264947.rdf</a><br>
        <a href="/Angler/be279cca-b934-45e6-85fd-96b1a6b1e6ed.rdf">https://nulllogicone.net/Angler/be279cca-b934-45e6-85fd-96b1a6b1e6ed.rdf</a><br>
        <a href="/PostIt/176bae4e-05d7-4256-97a5-c98bfcbb2869.rdf">https://nulllogicone.net/PostIt/176bae4e-05d7-4256-97a5-c98bfcbb2869.rdf</a>
    </p>
    <p>
        Für jede weiterführende Entität in einem RDF Dokument ist mit dem Prädikat&nbsp;<span style="font-family: Courier New">&lt;nlo:resource&gt;</span> ein Link angegeben, der weiterverfolgt
        werden kann.
    </p>
    <h2 id="importexport">4. Input / Output</h2>
    <p>
        Die Daten können im RDF Format ausgetauscht und verteilt werden. Dafür sind auf
        der Seite <a href="RDF/default.aspx"><strong>Input /&nbsp;Output</strong></a>&nbsp;Funktionen
        zusammengefasst, die&nbsp;Instanzen aus&nbsp;[SAPCT] als RDF Dokumente ausgeben,
        diese Dokumente validieren und&nbsp;wieder in Objekte parsen können. Die Datenobjekte
        lassen sich dann einfach in einem DBMS speichern oder als XML serialisieren.
    </p>
    <p>
        Außerdem kann der gesamte Wortraum als RDF Datei ausgegeben werden.
    </p>
    <h2 id="Applications">5.&nbsp;Anwendungen</h2>
    <ul>
        <li>Die Webanwendung&nbsp;<a href="https://www.oli-it.com">www.oli-it.com</a>&nbsp;ist
        ein Frage-Antwort Spiel. Sie bietet sämtliche Funktionalität und die Möglichkeit,
        Inhalte zu editieren.</li>
        <li>Mit dem MetaWeb Project&nbsp;<a href="https://www.metaweb-project.net">www.metaweb-project.net</a>
            &nbsp;können Webseiten, Blogbeiträge oder Bilder beschrieben und gefunden werden.
        </li>
        <li><a href="https://www.unisonus.net">UniSonus</a> ist eine spezialisierte Anwendung
        für die Zusammenarbeit und den Austausch von Fernstudenten. </li>
    </ul>
    <h2 id="webservice">6. Service</h2>
    <p>
        Web Services, gegen die Sie ihre eigene Anwendung programmieren können: <a href="https://service.oli-it.com">http://service.oli-it.com</a>
    </p>
    <h2 id="tools">7. Client</h2>
    <p>
        Clientanwendungen, die die WebServices konsumieren und mit RDF Dokumenten arbeitet:
        <a href="https://client.oli-it.com">https://client.oli-it.com</a>
    </p>
    <footer>
        <!-- Formerly uc1:FussZeile, now static HTML -->
        <div class="footer">
            <p>&copy; nulllogicone.net</p>
        </div>
    </footer>
</body>
</html>
