body
{
	font-family: arial, sans-serif;

}
h1
{
	font:300%;
	color:navy;
	padding-bottom:1em;
}
h2
{
	color: navy;
}
h3
{
	color: cornflowerblue;
	font-weight:normal;
	margin-top:1em;
}
a 
{
    color:navy; 
	text-decoration:none;
}
a:visited
{
    color:maroon; 
}
a:hover
{
	text-decoration:underline;
}


pre
{
	background-color:#f1f1f1;
}
.beispiel
{
	font-size:8pt;
}
.verlauf
{
	font-weight:bold;
	background: linear-gradient(to right, #1c5280, #FFFFFF);
}

.BannerColumn {background-color:#000000;color:fff;}
.Banner
{
    border: 0px none;
    padding: 0;
    height: 8px;
    margin-top: 0px;
    color: #99CC00;
    background: linear-gradient(to right, #1c5280, #FFFFFF);
}
.BannerTextCompany {font:bold; font-size:18pt; color:#cecece; font-family:Tahoma; height:0px; margin-top:0; margin-left:8px; margin-bottom:0; padding:0px; white-space:nowrap; text-shadow: 2px 2px 0 black;}
.BannerTextApplication {font:bold; font-size:18pt; font-family:Tahoma; height:0px; margin-top:0; margin-left:8px; margin-bottom:0; padding:0px; white-space:nowrap; text-shadow: 2px 2px 0 black;}
.BannerText {font:bold; font-size:18pt; font-family:Tahoma; height:0px; margin-top:0; margin-left:8px; margin-bottom:0; padding:0px; text-shadow: 2px 2px 0 black;}
.BannerSubhead {border:0px none; padding:0; height:16px; margin-top:0px; margin-left:10px; color:#ffffff; background: linear-gradient(to right, #4B3E1A, #FFFFFF);}
.BannerSubheadText {font:bold; height:11px; font-size:11px; font-family:Tahoma; margin-top:1; margin-left:10; text-shadow: 2px 2px 0 black;}
