.test {
    background-color: Red;
    border: 2px dotted black;
    color: Green;
}

.current {
    background-color: White;
    border: 2px dashed gold !important;
    border-radius: 10px;
    padding: 3px;
}

.oli-it {
    font-family: 'Times New Roman';
    font-weight: bold;
    font-size: 1.2em;
}

.urheber {
    color: Maroon;
    font-weight: bold;
}

.follower {
    color: green;
}
/*                    ****   Master.site   *****
------------------------------------------------------
*/

#master_page {
    float: left;
    margin: 2px;
    max-width: 1000px;
    padding: 2px;
    width: 99%;
}

#master_header {
    margin-bottom: 2px;
}

#master_menu {
    float: left;
    /* border:  1px solid #f1f1f1; */
    font-size: 0.91em;
    margin: 0;
    width: 12em;
}

    #master_menu p {
        border: 1px solid #f1f1f1;
        padding: 5px;
    }

    #master_menu div {
        background-color: #f5f5f5;
        border: 1px solid #cccccc;
        border-radius: 5px;
        cursor: cell;
        margin-bottom: 2px;
        padding: 8px;
    }

        #master_menu div:hover {
            background-color: #ffffff;
        }
/* content */

#master_content {
    margin-left: 12em;
}

#master_footer {
    border-top: 1px solid #cccccc;
    clear: both;
    font-size: 0.8em;
    margin-top: 40px;
    padding-left: 10px;
    padding-top: 10px;
    width: 99%;
}



/*               *****        HTML Elemente     *****
------------------------------------------------------------
*/

body {
    /* background-color: #666666; */
    font-family: Arial;
    /*font-size: 1em;*/
    margin: 0;
    padding: 0; /*  background-image: url(images/ruecken.jpg);              background-repeat: repeat-y;     */
}

h1 {
    color: #333333;
    font-family: Tahoma;
    font-size: 2.3em;
    font-weight: bold;
    line-height: 0.9em;
    margin: 0;
}

h2 {
    color: #666666;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.2em;
}



h3 /* Für die Detailtabellen Weiterverzweigung */ {
    margin-top: 2em;
    border-bottom: 2px solid #f1f1f1;
    font-size: 1.4em;
    font-weight: bold;
    color: rgb(40, 77, 108);
}

h4 /* Für die Hilfe */ {
    font-size: 1.2em;
    font-weight: bold;
}

ul {
    padding-left: 1em;
}

/* listitem */

li {
    margin-bottom: 0.5em;
}

hr {
    color: Black;
    width: 1px;
}



fieldset {
    border: 1px dotted #888;
}

legend {
    background-color: #fff;
    border: 1px solid #ccc;
    border-bottom: 0 solid #fff;
    font-style: italic;
    font-weight: bold;
    margin: 5px;
    padding: 0.2em;
}

/* TODO: the input-element is quite new. Please add styles for input, button,hover,etc,...*/
input {
    font-size: 1.2em;
    font-weight: bold;
    color: orange;
}

    input:hover {
        color: maroon;
    }

textarea {
    font-size: 110%;
}
/* standard Absätze grau machen 
P
{
	color: red;
 padding:0;
 margin:0;
 position:relative;
 padding:20px;
}

*/

/*               *****        Klassen     *****
------------------------------------------------------------
*/

/* Eingeloggter Bereich mit AuSLOGGEN-Button OBEN RECHTS -
   oder wo auch immer Gestaltung.
   Ich habe nur das inline-style aus dem "EinAusLoggen.ascx"-Control genommen
*/

.login_stamm {
    background-color: #F1F4FA;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
    margin: 5px;
    padding: 3px;
}


/* ****************                        Tabelle
*/

table {
    border: 0;
    border-color: White;
}

.TableHead {
    background-color: lightgrey;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
}

/*
************                             Links, rechts, oben, unten RUND *
*/

/* für die Hauptelement-Zeilen SAPCT und die Hilfe
*/


.rechtsobenrund {
    background-color: #ffffff;
    /* background: url(images/icons/ecken/rechts-oben.jpg);     border: dashed 1px #888888; margin-bottom:5px;    margin-bottom: 10px;   background-repeat: no-repeat;     background-position:top right;  margin: 0px;         padding-left: 0px;   */
    border: 1px solid #cccccc;
    border-radius: 1em;
    display: block;
    margin-bottom: 0.4em;
    overflow: visible;
    padding: 1em;
}


/* 
**************                     Hyper  Links 
*/

a {
    color: #000099;
    text-decoration: none;
}

    a:visited {
    }

    a:hover {
        color: maroon;
    }

    a:active {
        color: #990033;
        font-style: italic;
    }
    /* ----------------------  End Links 
*/










    /* 
**************       a HyperLinks wie Buttons       a.Button
*/

    a.Button {
        background-color: whitesmoke;
        border-color: White;
        border-style: solid;
        border-width: thin;
        color: navy;
        display: block;
        font-family: Arial;
        font-size: 1em;
        width: 135px;
    }

        a.Button:hover {
            background-color: lightgrey;
            color: darkblue;
            white-space: nowrap;
        }
    /*
******                          ButtonSel
*/

    a.ButtonSel {
        background-color: white;
        border-color: maroon;
        border-right: none;
        border-width: 1px;
        color: #000000;
        font-weight: bold;
    }


/* 
**************              a.PostItButton
*/

.PostItButton {
    background-color: whitesmoke;
    border: 2px solid gray;
    border-radius: 10px;
    color: navy;
    display: block;
    float: left;
    margin-right: 10px;
    padding: 2px;
    text-align: center;
    white-space: nowrap;
    width: 125px;
}

a.PostItButton {
    margin: 6px;
    border-top: none;
    background-color: rgb(225, 225, 225);
}

    a.PostItButton:hover {
        background-color: lightgrey;
        color: darkblue;
        font-weight: bold;
    }
/*
******                          PostItButtonSel  
*/

a.PostItButtonSel {
    background-color: white !important;
    border-color: rgb(233, 200, 51);
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-bottom: none;
    color: black;
    font-weight: bold;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    float: left;
}





/* Bunte Punkte Button zum Abgleich */

a.MatchButton {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 0 2px #000000;
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 2px #000000;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 1)), to(rgba(185, 185, 185, 1)));
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1), rgba(185, 185, 185, 1));
    background-color: #f1f1f1;
    border: 1px solid #888888;
    border-radius: 5px;
    color: black;
    display: inline-block;
    padding: 5px 5px 5px 5px;
    text-shadow: 1px 1px 0 #ffffff;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
}

    a.MatchButton:hover {
        background-color: #cccccc;
    }

    a.MatchButton:active, a.MatchButton:focus {
        background: -webkit-gradient(linear, 0 100%, 0 0, from(rgba(255, 255, 255, 1)), to(rgba(185, 185, 185, 1)));
        background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 1), rgba(185, 185, 185, 1));
    }

    a.MatchButton:disabled {
        background: rgba(220, 220, 220, 1);
        color: rgba(0, 0, 0, 0.4);
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    }


/* Eigene Klassen 
*/

.EinloggenButton {
    /*width: 145;*/
}

/* exitButton (das kleine x in der Ecke)
*/

.exitButton {
    background: url(images/icons/exit.gif);
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    float: right;
    text-align: right;
    width: 16px;
}

a.exitButton:hover {
    background-position: -16px 0;
}

/* closeButton (die Pfeile nach oben)
*/

a.closeButton {
    background: url(images/icons/close.gif) no-repeat;
    background-position: 0 0;
    display: block;
    float: right;
    text-align: right;
    width: 16px;
}

    a.closeButton:hover {
        background-position: -16px 0;
    }

/* editButton (das kleine zettelchen mit stift in der Ecke)
*/

.editButton {
    background: url(images/icons/edit.gif);
    background-position: -16px 0;
    background-repeat: no-repeat;
    display: block;
    float: right;
    margin-right: 5px;
    text-align: right;
    width: 16px;
}

a.editButton:hover {
    background-position: 0 0;
}



/* BigButton
*/

a.BigButton {
    background-color: whitesmoke;
    border: 1px solid silver;
    font-family: Arial;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    width: 135px;
}

    a.BigButton:hover {
        background-color: #f1f1f1;
        color: darkred;
    }



/* CommandButton    ausgerichtet bei 560px :: nicht mehr verwenden
*/

a.CommandButton {
    background-color: whitesmoke;
    border: 1px solid silver;
    color: red;
    display: block;
    font-family: Arial;
    font-size: 20pt;
    left: 560px;
    position: absolute;
    text-align: center;
    width: 135px;
}

    a.CommandButton:hover {
        background-color: lightgrey;
        border: 1px solid gray;
        color: maroon;
        font-family: Arial;
        font-weight: bold;
        text-align: center;
        width: 135px;
    }

/* TableButton  in einer Zeile weg :: auch nicht mehr verwenden
*/

a.TableButton {
    background-color: whitesmoke;
    border: 1px solid silver;
    color: pink;
    display: block;
    float: left;
    font-family: Arial;
    font-size: 20pt;
    text-align: center;
    width: 135px;
}

    a.TableButton:hover {
        background-color: white;
        border: 1px solid silver;
        color: darkblue;
        font-family: Arial;
        font-weight: bold;
        text-align: center;
        width: 135px;
    }



/* SelectTableButton
*/

.SelectTableButton {
    background-color: white;
    border: 1px solid silver;
    color: black;
    display: block;
    float: left;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    width: 135px;
}

/* GridButton
*/

.GridButton {
    background-color: whitesmoke;
    border: 1px solid silver;
    color: navy;
    font-family: Arial;
    font-size: 8pt;
    text-align: center;
    width: 100px;
}

a.GridButton:hover {
    background-color: lightgrey;
    border: 1px solid gray;
    color: darkblue;
    font-family: Arial;
    font-size: 8pt;
    font-weight: bold;
    text-align: center;
    width: 100px;
}

/* ImageButton
*/

.ImageButton {
    border-style: outset;
    border-width: 1px;
}

a.ImageButton:hover {
    border-style: inset;
}






/* bei geschlossenen Nachrichten die Urheber der Nachricht
*/

.schleier {
    background-color: #f1f1f1;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    margin-bottom: 1px;
    padding: 5px;
}

    .schleier span {
        font-size: 1em;
        font-weight: bold;
        text-shadow: 0 0 0.1em maroon;
    }

/* commandtree
*/

.commandtree { /*  border: solid 1px maroon;           width: 150px;     float: left;background-image: url(images/ruecken.jpg);      background-repeat: repeat-y; */
}

.bookmark {
    font-size: 0.8em;
    text-align: left;
}


/* 
------------------------------------------------
	Oberflaechen Elemente 
------------------------------------------------
*/

/* 2012-07-05 , TODO: ganz neu, bearbeiten! */

.RandomPostIt {
    border: 1px solid #ccc;
    font-size: large;
}

.TextBox {
    height: 300px;
    width: 400px;
}

.TextBoxLineRandomPostIt {
    width: 400px;
}

.Hilfe {
    background-color: #f1f1f1;
    border: 1px solid #c3c3c3;
    border-radius: 10px;
    color: #444444;
    float: left;
    font-size: 0.8em;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 1em;
    width: 96%; /*    background: url(images/icons/ecken/rechts-oben.jpg) no-repeat top right; background-color: #99CCFF; */
}

.klein {
    font-size: 0.8em; /* 	background-color:whitesmoke; 	width:200; */
}


.q {
    color: darkgray;
    font-family: "Times New Roman";
}

.edit {
    background-image: url(images/antworten.gif);
    background-repeat: no-repeat;
    padding: 5px;
}



/* dynamische Attribute */

.ungelesen {
    font-weight: bolder;
}

.gelesen {
}

.BildPickerBild {
    width: 60px;
}










/* 
********************************          Wortraum 
*/

.Werbung {
    width: 70px;
}

.BuntePunkt {
    height: 10px;
}

.Pfeil {
    width: 15px;
}

.Knoten {
    height: 20px;
}

.Zweig {
    height: 20px;
}

.KnotenLink {
    font-size: 10pt;
    height: 20px;
}

a.KnotenLink:hover {
    background-color: lightblue;
}

.ZweigLink {
    font-size: 10pt;
}

a.ZweigLink:hover {
    background-color: yellowgreen;
}
/* 
-------------------------------------    End Wortraum 
*/









/* 
****************                         Pager für die ListViews 
*/

.pager {
    background-color: whitesmoke;
    font-size: 1.5em;
}

    .pager a {
        background-color: lightgrey;
    }

        .pager a:hover {
            font-weight: bold;
            text-decoration: underline;
        }

        .pager a:active {
            font-weight: bold;
        }

    .pager span {
        background-color: white;
        color: black;
        font-weight: bold;
        padding: 3px;
    }
/* 
------------------                   End Pager 
*/










/* OLI-it Elemente */
/* ******************************************** */


.Stamm {
    border: 1px solid maroon;
    border-radius: 5px;
    color: maroon;
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0.3em;
    padding: 0.3em;
}


a.Stamm {
    font-family: georgia;
    font-size: 1.2em;
    padding: 2px;
}

    a.Stamm:hover {
        border-color: orange;
        color: orange;
    }

.StammOrgan {
    border: 1px solid #f1f1f1;
}

.Titel {
    font-weight: bold;
}

.PostIt {
    background-color: #ffffe8;
    border: 1px solid #FFCC00;
    border-radius: 5px;
    font-size: 1em;
    line-height: 1.5em;
    margin: 1px;
    padding: 0.1em;
}

.PostItOrgan {
    background-color: #ffffcc;
}

.Angler {
    background-color: white;
    border: 1px dashed #6699FF;
    border-radius: 3px;
    color: SteelBlue;
    display: block;
    font-family: Georgia;
    line-height: 150%;
    margin-bottom: 0.2em;
    margin-top: 0.2eM;
}

.AnglerOrgan {
    color: #3366CC;
}

.TopLab {
    background-color: white;
    border: 1px solid darkgreen;
    border-radius: 3px;
    line-height: 150%;
    margin: 1px;
    padding: 3px;
}

.Code {
    border-right: 1px solid darkblue;
    margin: 20px;
}

.Bewertung {
    color: #888888;
    font-family: georgia;
    font-size: 0.8em;
    font-style: italic; /* 	background: url(images/icons/ecken/rechts-unten.jpg); 	background-repeat:no-repeat; 	background-position: bottom right; */
    padding: 3px;
}

.id {
    background-color: #FFFFFF;
    color: #000000;
    font-family: Arial;
    font-size: 0.8em;
    font-style: italic;
    padding: 1px;
    text-align: center;
}

.hits {
    border-style: dotted;
    border-width: 1px;
    font-size: 0.9em;
    padding: 3px;
    text-align: center;
}

.info {
    background-color: #FFFF00;
    color: #000000;
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
}

.meta {
    background-color: #f1f1f1 !important;
    border: 1px solid #cccccc;
    clear: right;
    float: right;
    font-size: 0.85em;
    line-height: 1em;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 3px;
    text-align: right;
}

.beschreibung {
    font-size: 0.9em;
    font-style: italic;
    text-align: left;
}

.datum {
    color: #808080;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
}



.boundKooK {
    background-color: #CCFFCC;
    border: 1px solid #FF0000;
    color: #000000;
    cursor: default;
    font-family: Courier;
    font-size: 0.8em;
    text-align: center;
    white-space: nowrap;
    width: 60px;
    margin: 2px;
    padding: 2px;
    display: inline-block;
}

.flowKooK {
    background-color: #CCFFCC;
    border: 1px dashed #FF0000;
    color: #000000;
    cursor: default;
    font-family: Courier;
    font-size: 0.8em;
    text-align: center;
    white-space: nowrap;
    width: 60px;
    margin: 2px;
    padding: 2px;
    display: inline-block;
}
