<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- locale        -->	
    <add name="OLIsConnectionString" connectionString="server=(localdb)\MSSQLLocalDB;database=null;uid=oli;pwd=Ko-0L1-oK" />
    <add name="OLIxConnectionString" connectionString="server=(localdb)\MSSQLLocalDB;database=null;uid=oli;pwd=Ko-0L1-oK" />

	
	<!-- Azure      
    <add name="OLIsConnectionString" connectionString="server=bpj6m1jf2i.database.windows.net;database=null-test;uid=OliWebTest;pwd=BvA71tPvwtipAdH3Tyuf; Asynchronous Processing=true;MultipleActiveResultSets=True" />
    <add name="OLIxConnectionString" connectionString="server=bpj6m1jf2i.database.windows.net;database=null-test;uid=OliWebTest;pwd=BvA71tPvwtipAdH3Tyuf; Asynchronous Processing=true;MultipleActiveResultSets=True" /> 
--> 
  </connectionStrings>
  <appSettings>
    <!-- 
  ===================================
  Dieser Bereich gilt für alle Server
  ===================================
    -->
    <!-- Root dieser Webanwendung -->
    <add key="root" value="/" />
    <!-- public image folder URLs -->
    <add key="imagesOrdner" value="https://www.oli-it.com/images/" />
    <add key="IconOrdner" value="https://www.oli-it.com/images/icons/" />
    <add key="SymboleOrdner" value="https://www.oli-it.com/images/icons/symbole/" />
    <add key="PunkteOrdner" value="https://www.oli-it.com/images/punkte/" />
    <add key="WerbungOrdner" value="https://www.oli-it.com/images/werbung/" />
    <!-- Local :: Azure storage for blobs and queues, those values are overwritten by environment variables
    -->
    <!--
    <add key="bilderOrdner" value="https://oliitlocal.blob.core.windows.net/oliupload" />
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=oliitlocal;AccountKey=pO73J4VaBrumFJxF8V5gni7UmLSb/aZyMpEj1X+0+4BNgime5jKRqCvgT2xSuMoYM5R5lHadlFaGmIMpY84QuQ==;EndpointSuffix=core.windows.net" />
    <add key="OliItStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=oliitlocal;AccountKey=pO73J4VaBrumFJxF8V5gni7UmLSb/aZyMpEj1X+0+4BNgime5jKRqCvgT2xSuMoYM5R5lHadlFaGmIMpY84QuQ==;EndpointSuffix=core.windows.net" />
    -->
    <!-- Test and Production storage accounts are defined in environment variables 
    -->
    <add key="bilderOrdner" value="https://oliittest.blob.core.windows.net/oliupload" />
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=oliittest;AccountKey=1ceuQCAFAC/xgunUhiv1gk12CJsDplsi7hU70nf2VpCanOFE+8qeyU5IHkb9ubY2zPook9wZ2t1+KgSVonsGdQ==;EndpointSuffix=core.windows.net" />
    <add key="OliItStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=oliittest;AccountKey=1ceuQCAFAC/xgunUhiv1gk12CJsDplsi7hU70nf2VpCanOFE+8qeyU5IHkb9ubY2zPook9wZ2t1+KgSVonsGdQ==;EndpointSuffix=core.windows.net" />
    <!-- Feature flags to switch on and off by environment or slot and other app confic values -->
    <add key="doQueueMessageForFischen" value="true" />
    <add key="doFischenInRequestThread" value="false" />
    <add key="slot" value="local-FALASUS" />
    <add key="environmentBorderStyle" value="solid 4px cornflowerblue" />
    <add key="buildNumber" value="#{Build.BuildNumber}#" />
    <add key="replaceToken" value="#{replaceToken}#" />
    <add key="doTest" value="xxx" />
    <!-- EventGrid configuratioin -->
    <add key="EventGridEndpoint" value="https://oliit.westeurope-1.eventgrid.azure.net/api/events" />
    <add key="EventGridKey" value="7yFCBZvQQ4xdvFrtXmOO2k5GnCcxizs+coFFPjMgAlQ=" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
	  <compilation debug="true" targetFramework="4.8" >
		  <assemblies>
			  <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, 
            PublicKeyToken=cc7b13ffcd2ddd51"/>
		  </assemblies>
	  </compilation>
    <httpRuntime requestValidationMode="2.0" />
    <authentication mode="Windows" />
    <customErrors mode="Off" defaultRedirect="OliError.aspx">
      <error statusCode="404" redirect="~/NotFound.aspx" />
    </customErrors>
    <httpHandlers>
      <!--für das alte Ajax-->
      <add verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax" />
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <!-- 
    Der system.webServer-Abschnitt ist zum Ausführen von ASP.NET-AJAX unter
    Internetinformationsdienste 7.0 erforderlich. Für frühere Versionen von
    IIS ist er nicht erforderlich.
  -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Ajax" verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax" />
    </handlers>
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <!-- Netzwerkeinstellungen -->
  <system.net>
    <mailSettings>
      <smtp from="info@oli-it.com">
        <!--<network host="smtp.sendgrid.net" userName="azure_9e769b59b3d1566f818e26d35587161c@azure.com" password="KcweBkRCVIyAAKoDW2bk"/>-->
        <network host="smtp.zoho.eu" port="587" userName="info@oli-it.com" password="YaoQ6HXVE6DzIRjZzI89" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.22.0.997" newVersion="2.22.0.997" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.5.0" newVersion="3.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.TelemetryCorrelation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.4.0" newVersion="1.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.DependencyCollector" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.22.0.997" newVersion="2.22.0.997" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.36.0.0" newVersion="1.36.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory.Data" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <add name="myAppInsightsListener" type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
