body {
    background-image: url(../images/ruecken.jpg);
    background-repeat: repeat-y;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    font-family: Arial;
    font-size: 10pt;
    margin: 0px;
}

H1 {
    font-size: 14pt;
    font-weight: bold;
}

H2 {
    font-size: 12pt;
    font-weight: bold;
}

H3 {
    clear: both;
    display: block;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

H4 {

    font-size: larger;
    font-weight: bold;
}